<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
    integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <title>The Team</title>
</head>

<body>

  <div class="navbar navbar-light" style="background-color: #000000; col-sm">
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Pest Prediction in Cotton</a>
    </nav>
  </div>

  <div class="container my-5 col-sm">
    <div class="card-deck">
      <div class="card ">
        <img src="/static/hem.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Hemanth</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="https://www.linkedin.com/in/shreyash-deshmukh-268720184/" class="btn btn-info"
            role="button">Linkedin</a>
        </div>
      </div>
      <div class="card">
        <img src="/static/anusikh.JPG" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Anusikh</h5>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="https://www.linkedin.com/in/anusikh-panda-6512a31a2/" class="btn btn-info" role="button">Linkedin</a>
          <a href="https://github.com/anusikh" class="btn btn-dark" role="button">Github</a>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js"
    integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s"
    crossorigin="anonymous"></script>

</body>